<a href="https://colab.research.google.com/github/Ka275578/Cardiovascular_Risk_Prediction/blob/main/Cardiovascular_risk_prediction_first_commit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### **Project Type**    - Classification
##### **Contribution**    - Individual
##### **Name** - Kumar Anand
##### **email** - ka275578@gmail.com

# **Project Summary -**

The dataset is from an ongoing cardiovascular study on residents of the town of Framingham, Massachusetts. The classification goal is to predict whether the patient has a 10-year risk of future coronary heart disease (CHD). 

The dataset provides the patients information. It includes over 4,000 records and 15 attributes.

Now a days people are going more towards sedentary lifestyle. Due to inactive lifestyle and consumption of tobacco the risk of CHD is increasing day by day.

In this project we will be developing various machine learning models which will predict the 10yr future risk of CHD.

Following are the ML models used and the respective hyperparameter used for tuning -

![image.png]()

Predictions made by these models will predict the future 10yr risk of CHD which will help people to take precautions beforehand and come out of the risk.

Following metrics shows how the vaious ML models is performing -

![image.png]()

XG Boost is the best performer among all the model with ROC_AUC score of 90%.

# **GitHub Link -**

https://github.com/Ka275578/Cardiovascular_Risk_Prediction

# **Problem Statement**

* Now a days people are deviating more towards sedentary lifestyle.
* Due to inactive lifestyle and increase in fatty food consumption health of the people are decreasing day by day and problems like cholestrol, diabetes etc are increasing day by day.
* Also, there is an increase in tobacco consumption which also puts lot of life threatening diseases.
* Due to these reasons the risk of future 10yr coronary heart disease (CHD) has increased a lot.
* It has become need of the time to predict the 10yr CHD beforehand so that people can be cautious of their lifestyle.
* In this project our classification goal is to predict whether the patient has a 10-year risk of future coronary heart disease (CHD) from dataset of an ongoing cardiovascular study on residents of the town of Framingham, Massachusetts.

# **General Guidelines** : -

1.   Well-structured, formatted, and commented code is required. 
2.   Exception Handling, Production Grade Code & Deployment Ready Code will be a plus. Those students will be awarded some additional credits. 
     
     The additional credits will have advantages over other students during Star Student selection.
       
             [ Note: - Deployment Ready Code is defined as, the whole .ipynb notebook should be executable in one go
                       without a single error logged. ]

3.   Each and every logic should have proper comments.
4. You may add as many number of charts you want. Make Sure for each and every chart the following format should be answered.
        

```
# Chart visualization code
```
            

*   Why did you pick the specific chart?
*   What is/are the insight(s) found from the chart?
* Will the gained insights help creating a positive business impact? 
Are there any insights that lead to negative growth? Justify with specific reason.

5. You have to create at least 15 logical & meaningful charts having important insights.


[ Hints : - Do the Vizualization in  a structured way while following "UBM" Rule. 

U - Univariate Analysis,

B - Bivariate Analysis (Numerical - Categorical, Numerical - Numerical, Categorical - Categorical)

M - Multivariate Analysis
 ]





6. You may add more ml algorithms for model creation. Make sure for each and every algorithm, the following format should be answered.


*   Explain the ML Model used and it's performance using Evaluation metric Score Chart.


*   Cross- Validation & Hyperparameter Tuning

*   Have you seen any improvement? Note down the improvement with updates Evaluation metric Score Chart.

*   Explain each evaluation metric's indication towards business and the business impact pf the ML model used.

# ***Let's Begin !***

## ***1. Know Your Data***

### Import Libraries

In [5]:
# Importing Libraries
import numpy as np
import pandas as pd
from numpy import math
import seaborn as sns
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, roc_auc_score, roc_curve
from sklearn import tree
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

In [3]:
from google.colab import drive
drive.mount('/content/mydrive')

Mounted at /content/mydrive

In [6]:
cvr_path = '/content/mydrive/MyDrive/Cardiovascular_risk_prediction/data_cardiovascular_risk.csv'
cvr_df = pd.read_csv(cvr_path)

### Dataset First View

In [7]:
#First look at the dataset
cvr_df.head()

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,0,64,2.0,F,YES,3.0,0.0,0,0,0,221.0,148.0,85.0,NaN,90.0,80.0,1
1,1,36,4.0,M,NO,0.0,0.0,0,1,0,212.0,168.0,98.0,29.77,72.0,75.0,0
2,2,46,1.0,F,YES,10.0,0.0,0,0,0,250.0,116.0,71.0,20.35,88.0,94.0,0
3,3,50,1.0,M,YES,20.0,0.0,0,1,0,233.0,158.0,88.0,28.26,68.0,94.0,1
4,4,64,1.0,F,YES,30.0,0.0,0,0,0,241.0,136.5,85.0,26.42,70.0,77.0,0

In [9]:
#Checking shape of the dataset
cvr_df.shape

(3390, 17)

There are 3390 rows and 17 features/columns in the dataset. Let's explore more to know the features.

### Dataset Information

In [10]:
#Info of the dataset
cvr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3390 entries, 0 to 3389
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               3390 non-null   int64
 1   age              3390 non-null   int64
 2   education        3303 non-null   float64
 3   sex              3390 non-null   object
 4   is_smoking       3390 non-null   object
 5   cigsPerDay       3368 non-null   float64
 6   BPMeds           3346 non-null   float64
 7   prevalentStroke  3390 non-null   int64
 8   prevalentHyp     3390 non-null   int64
 9   diabetes         3390 non-null   int64
 10  totChol          3352 non-null   float64
 11  sysBP            3390 non-null   float64
 12  diaBP            3390 non-null   float64
 13  BMI              3376 non-null   float64
 14  heartRate        3389 non-null   float64
 15  glucose          3086 non-null   float64
 16  TenYearCHD       3390 non-null   int64
dtypes: float64(9), int64(6), object(2)
memory usage: 450.4+ KB

we can see there are some feature which doesn't contains all the data. Let's explore more.

In [11]:
#Checking duplicate values
cvr_df.nunique()

id                 3390
age                  39
education             4
sex                   2
is_smoking            2
cigsPerDay           32
BPMeds                2
prevalentStroke       2
prevalentHyp          2
diabetes              2
totChol             240
sysBP               226
diaBP               142
BMI                1259
heartRate            68
glucose             132
TenYearCHD            2
dtype: int64

We can see that id has 3390 unique values. This shows that there is no duplicate entries in the dataset.

#### Missing Values/Null Values

In [12]:
#Checking null values in the dataset
cvr_df.isnull().sum()

id                   0
age                  0
education           87
sex                  0
is_smoking           0
cigsPerDay          22
BPMeds              44
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             38
sysBP                0
diaBP                0
BMI                 14
heartRate            1
glucose            304
TenYearCHD           0
dtype: int64

There are null values in education, cigsPerDay, BPMeds, totChol, BMI, heartRate and glucose feature. We will be filling the null values in the Data Cleaning section.

### Initial insights on the dataset -

The dataset is from an ongoing cardiovascular study on residents of the town of Framingham, Massachusetts.

Following are the features in the dataset -

Independent Variables -
id, age, education, sex, is_smoking, cigsPerDay, BPMeds, prevalentStroke, prevalentHyp, diabetes, totChol, sysBP, diaBP, BMI, heartRate & glucose

Dependent Variable - 
TenYearCHD

Our goal is to properly classify "TenYearCHD" based on the independent features present in the dataset using machine learning classification problems.

There is no duplicate observations in the dataset though there are some null values present in the dataset which we will be treating in the later sections of the project.

## ***2. Understanding Your Variables***

In [13]:
#Columns in the dataset
cvr_df.columns

Index(['id', 'age', 'education', 'sex', 'is_smoking', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

Categorical Variables - education, sex, is_smoking, BPMeds, prevalentStroke, prevalentHyp, diabetes, TenYearCHD (Target Variable).

Continuous Variables - age, cigsPerDay, totChol, sysBP, diaBP, BMI, heartRate, glucose

In [15]:
#Describe ta data
cvr_df.describe()

,id,age,education,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,3390.000000,3390.000000,3303.000000,3368.000000,3346.000000,3390.000000,3390.000000,3390.000000,3352.000000,3390.00000,3390.000000,3376.000000,3389.000000,3086.000000,3390.000000
mean,1694.500000,49.542183,1.970936,9.069477,0.029886,0.006490,0.315339,0.025664,237.074284,132.60118,82.883038,25.794964,75.977279,82.086520,0.150737
std,978.753033,8.592878,1.019081,11.879078,0.170299,0.080309,0.464719,0.158153,45.247430,22.29203,12.023581,4.115449,11.971868,24.244753,0.357846
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.50000,48.000000,15.960000,45.000000,40.000000,0.000000
25%,847.250000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.00000,74.500000,23.020000,68.000000,71.000000,0.000000
50%,1694.500000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.50000,82.000000,25.380000,75.000000,78.000000,0.000000
75%,2541.750000,56.000000,3.000000,20.000000,0.000000,0.000000,1.000000,0.000000,264.000000,144.00000,90.000000,28.040000,83.000000,87.000000,0.000000
max,3389.000000,70.000000,4.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.00000,142.500000,56.800000,143.000000,394.000000,1.000000

### Variables Description

Demographic:
* Sex: male or female("M" or "F")
* Age: Age of the patient;(Continuous - Although the recorded ages have been truncated to whole numbers, the concept of age is continuous)
* education: There is no details provided for this feature.

Behavioral:
* is_smoking: whether or not the patient is a current smoker ("YES" or "NO")
* Cigs Per Day: the number of cigarettes that the person smoked on average in one day.(can be considered continuous as one can have any number of cigarettes, even half a cigarette.)

Medical(history):
* BP Meds: whether or not the patient was on blood pressure medication (Nominal)
* Prevalent Stroke: whether or not the patient had previously had a stroke (Nominal)
* Prevalent Hyp: whether or not the patient was hypertensive (Nominal)
* Diabetes: whether or not the patient had diabetes (Nominal)

Medical(current):
* Tot Chol: total cholesterol level (Continuous)
* Sys BP: systolic blood pressure (Continuous)
* Dia BP: diastolic blood pressure (Continuous)
* BMI: Body Mass Index (Continuous)
* Heart Rate: heart rate (Continuous - In medical research, variables such as heart rate though in fact discrete, yet are considered continuous because of large number of possible values.)
* Glucose: glucose level (Continuous)

Predict variable (desired target):
* 10-year risk of coronary heart disease CHD(binary: “1”, means “Yes”, “0” means “No”) - DV

In [16]:
#Datatype of each features
cvr_df.dtypes

id                   int64
age                  int64
education          float64
sex                 object
is_smoking          object
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
TenYearCHD           int64
dtype: object

education and BPMeds are of float type but these are categorical variables. After filling the null values we will convert it to int datatype.

## 3. ***Data Wrangling***

### Data Cleaning

education and BPMeds are categorical variables. So, we will be filling the null values with mode of the data of the respective columns.
cigsPerDay, totChol, BMI, heartRate and glucose are continuous variables. We will be filling the null values with the median of the data of the respective columnns.

In [20]:
#Displaying the rows where null values are present in cigsPerDay
cvr_df[cvr_df['cigsPerDay'].isnull()]

,id,age,education,sex,is_smoking,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
422,422,55,1.0,F,YES,NaN,0.0,0,1,0,213.0,163.0,91.0,28.66,69.0,66.0,0
466,466,45,3.0,M,YES,NaN,0.0,0,1,0,170.0,145.5,99.0,26.74,83.0,85.0,0
469,469,42,1.0,M,YES,NaN,0.0,0,0,0,196.0,123.0,73.0,22.06,66.0,NaN,0
491,491,61,1.0,F,YES,NaN,0.0,0,1,0,356.0,168.0,98.0,27.30,103.0,106.0,0
538,538,41,1.0,F,YES,NaN,0.0,0,0,0,171.0,135.0,82.5,24.35,79.0,82.0,0
767,767,54,1.0,M,YES,NaN,0.0,0,0,0,219.0,110.0,72.0,26.05,95.0,86.0,0
1461,1461,47,2.0,F,YES,NaN,0.0,0,0,0,365.0,127.0,76.0,24.44,72.0,80.0,0
1467,1467,49,1.0,F,YES,NaN,0.0,0,0,0,252.0,123.0,69.0,21.45,72.0,89.0,0
1597,1597,57,NaN,F,YES,NaN,0.0,0,0,0,229.0,115.0,69.0,24.43,80.0,93.0,0
1986,1986,49,2.0,F,YES,NaN,0.0,0,1,0,233.0,158.0,102.0,25.31,90.0,72.0,0
2031,2031,58,4.0,F,YES,NaN,0.0,0,1,0,270.0,195.0,117.5,23.35,75.0,NaN,0
2087,2087,49,4.0,M,YES,NaN,0.0,0,0,0,256.0,127.5,81.5,28.21,93.0,85.0,1
2240,2240,47,3.0,F,YES,NaN,0.0,0,0,0,321.0,132.0,88.0,28.14,90.0,74.0,0
2284,2284,45,2.0,M,YES,NaN,0.0,0,0,0,248.0,121.0,72.0,27.88,64.0,88.0,0
2527,2527,58,2.0,M,YES,NaN,0.0,0,0,0,235.0,127.5,76.0,21.02,81.0,135.0,0
2638,2638,57,NaN,M,YES,NaN,0.0,0,0,0,223.0,107.5,72.5,24.74,62.0,103.0,0
2648,2648,39,2.0,M,YES,NaN,0.0,0,0,0,285.0,121.0,82.0,27.62,85.0,65.0,0
2723,2723,43,4.0,M,YES,NaN,0.0,0,0,0,222.0,109.5,69.0,25.50,75.0,NaN,0
2879,2879,42,1.0,M,YES,NaN,0.0,0,0,0,226.0,119.0,80.0,25.29,62.0,98.0,0
2945,2945,53,2.0,M,YES,NaN,0.0,0,0,0,276.0,130.0,86.0,24.21,58.0,82.0,0
3301,3301,55,1.0,M,YES,NaN,0.0,0,0,0,214.0,132.5,85.5,29.25,70.0,103.0,0
3378,3378,39,3.0,F,YES,NaN,0.0,0,0,0,197.0,126.5,76.5,19.71,55.0,63.0,0

In [21]:
#Checking median for cigsPerDay
cvr_df['cigsPerDay'].median()

0.0

The median for cigsPerDay is coming as zero and if we are filling the null values of cigsPerDay as zero it will not be correct as in is_smoking it is mentioned as Yes. So, we will be filling the null values of cigsPerDay with mean of the data.

In [22]:
#Function to fill the null values with mode
def fill_null_mode(cols):
  ''' This function fills the null values of any columns with mode of the data.
  pass the list of column names for which you want to fill the null values'''
  for col in cols :
    cvr_df[col] = cvr_df[col].fillna(round(cvr_df[col].mode()[0],1))

In [23]:
#Function to fill the null values with median
def fill_null_median(cols):
  ''' This function fills the null values of any columns with median of the data.
  pass the column name for which you want to fill the null values'''
  for col in cols:
    cvr_df[col] = cvr_df[col].fillna(cvr_df[col].median())

In [35]:
#Filling the null values
fill_null_mode(['education','BPMeds'])
fill_null_median(['totChol','BMI','heartRate','glucose'])
cvr_df['cigsPerDay'] = cvr_df['cigsPerDay'].fillna(round(cvr_df['cigsPerDay'].mean(),1))

In [36]:
#Confirming if all the null values are filled
cvr_df.isnull().sum()

id                 0
age                0
education          0
sex                0
is_smoking         0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
TenYearCHD         0
dtype: int64

We have successfully filled all the null values in the dataset.